* {
  /* General taskbar font, I like maple mono ^-^*/
  font-family: Maple Mono;
  border-radius: 8;
  font-size: 20px;
  padding: 1px;
  background: transparent;
}

window#waybar {
  /* Linear gradients are used because it makes less harsh rounded border radius, gtk bug :p */
  background-image: linear-gradient(to bottom, #100916 50%);
  border-radius: 14px;
  padding: 0px;
  border-style:solid;
  border-width: 4px;
  border-color: #504958;
}

window#waybar:hover {
  /* Linear gradients are used because it makes less harsh rounded border radius, gtk bug :p */
  background-image: linear-gradient(to bottom, #9876b4 50%);
  border-radius: 14px;
  padding: 0px;
  border-style:solid;
  border-width: 4px;
  border-color: #312c37;
}



#clock,
#custom-applauncher,
#custom-shutdownmenu,
#custom-bluetooth,
#tray,
#workspaces {
  background-image: linear-gradient(to bottom, #504958 100%);

  margin: 6px;
  margin-right: 6px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #d8cab8;

  border-style: none;
  transition-duration: 120ms;
}

#clock {
  margin-right: 6px;
}


#custom-applauncher {
  font-weight: bold;
  transition-duration: 120ms;
}
#custom-applauncher:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%);
  color: #141216;
  transition-duration: 120ms;
}

#custom-bluetooth {
  font-weight: bold;
  transition-duration: 120ms;
}
#custom-bluetooth:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%);
  color: #141216;
  transition-duration: 120ms;
}

#custom-shutdownmenu {
  font-weight: bold;
  transition-duration: 120ms;
}
#custom-shutdownmenu:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%);
  color: #141216;
  transition-duration: 120ms;
}

#tray menu {
  background-color: #141216;
  color: #d8cab8;
  padding: 4px;
}
#tray menu menuitem {
  background-image: linear-gradient(to bottom, #27232b 100%);

  margin: 3px;
  color: #d8cab8;
  border-radius: 4px;
  border-style: solid;
  border-color: #27232b;
}
#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #27232b 100%);
  color: #ac82e9;
  font-weight: bold;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: #d8cab8;
  margin-right: 0.1cm;
  margin-left: 0.1cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #8f56e1;
}
#workspaces button.focused {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button.active {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #fcb167;
}